*{
  margin: 0;
  padding: 0;
}
.form-input{
  padding: 10px 0px;
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 10px;
}

.form-input-field{
  width: 30vw;
}

.task__field{
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: transparent;
  width: 90%;
}

.task__checked-field{
  text-decoration: line-through;
  background-color: #eff5ff;
  border-color: #7aafff;
  color: #0d6efd;
}
.task__unchecked-field{
  text-decoration: none;
}
.all-tasks{
  width: 50%;
  margin: auto;
}